<!DOCTYPE html>
<html lang="en">
<head>

<!--
    Author: Aaron Kaloti
    Release number: 0.1
-->

<meta charset="utf-8" />
<title>Game Show Fusion</title>

<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script
    src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>
<link rel="stylesheet" type="text/css" href="css/game-show-fusion.css" />

</head>
<body>

<div ng-app="game" ng-controller="gameCtrl">

<div id="game">
    <section id="game-scene" class="scene">
        <canvas ng-repeat="id in canvasData.ids" id="{{id}}"
            class="show" width="{{canvasData.width}}"
            height="{{canvasData.height}}">
            Your web browser doesn't support canvas content.
        </canvas>
    </section>

    <audio ng-repeat="audio in audioData" id="{{audio.id}}">
        <source src="{{audio.src}}" />
        Your browser does not support the audio element.
    </audio>
</div>

</div>

<!-- <audio id='next-quote-sound'>
    <source src="audio/next_quote.mp3" />
    Your browser does not support the audio element.
</audio> -->

<script src="js/game-controller.js"></script>
<script src="js/game-show-fusion.js"></script>
</body>
</html>